<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>
	<body>
        <div class="container">
            <h1 style="text-align:center;">Успеваемость студентов</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>ФИО</th>
                    {% for subject in subjects %}
                      <th>{{subject}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for statistics in student_statistics %}
                        <tr>
                            <th scope="row">{{statistics.student.id}}</th>
                            <td>{{statistics.student.fio}}</td>
                             {% for score in statistics.scores %}
                                <td>{{score}}</td>
                              {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
	</body>
</html>